<div class="container "> 
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle py-3">
      <h2> About Us</h2>
    </div>
    <div class="card-body">
      <strong>Welcome to codewithinfinitidev !</strong>
      <p>We are giving classes on web development on every <strong>Saturday</strong> at 12 pm . 
      All these classes are free for the first batch . 
      We are taking them physically and as well on zoom for the students who can not attend these classes physically . 
      We are giving lectures on theses of the following subjects of web development :
      </p>
      <ul>
        <li>
          <strong>HTML : </strong>
          <p>HTML stands for Hyper Text Markup Language . It provides basic structure of the web page . It is tag based language and easy to learn .</p>
        </li>
        <li>
          <strong>CSS : </strong>
          <p>CSS stands for Cascading Style Sheet . It privides styling to the web page and make it beautiful . It is based on property and value pair and easy to learn .</p>
        </li>
        <li>
          <strong>JavaScript : </strong>
          <p>JavaScript is a programming language . It provides functionality to the web page and make it more attractive.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
  