<div class="content-wrapper">
<div class="py-5 bg-space-image">
  <div class="py-5 text-center">
    <h1 class="fs-1 text-white fw-bold pt-5">Web Development</h1>
    <p class="fs-5 text-white fw-bold pb-5">code with infinitidev</p>
  </div>
</div>
<div class="bg-primary-subtle">
  <div class="container">
    <div class="py-5 row d-lg-flex align-items-center justify-content-center">
      <div class="text-center col-lg-6">
        <h2 class="fs-1 fw-bold">HTML</h2>
        <p class="fw-bold">Standard markup language for creating web pages</p>
      </div>
      <div class="col-lg-6 p-2">
        <div class="exampleBox py-2 px-1">
          <b>HTML Example :</b>
          <div class="example">
            <div class="example-wrapper">
              <div>
                <span class="green"><</span>
                <span class="brown">!DOCTYPE</span>
                <span class="purple">html</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green"><</span>
                <span class="brown">html</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-3"><</span>
                <span class="brown">head</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-5"><</span>
                <span class="brown">title</span>
                <span class="green">></span>
                <span>HTML Page</span>
                <span class="green"><</span>
                <span class="brown">/title</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-3"><</span>
                <span class="brown">/head</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-3"><</span>
                <span class="brown">body</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-5"><</span>
                <span class="brown">h1</span>
                <span class="green">></span>
                <span>This is heading.</span>
                <span class="green"><</span>
                <span class="brown">/h1</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-5"><</span>
                <span class="brown">p</span>
                <span class="green">></span>
                <span>This is paragraph.</span>
                <span class="green"><</span>
                <span class="brown">/p</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green ms-3"><</span>
                <span class="brown">/body</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green"><</span>
                <span class="brown">/html</span>
                <span class="green">></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-warning-subtle">
  <div class="container">
    <div class="py-5 row d-lg-flex align-items-center justify-content-center">
      <div class="text-center col-lg-6">
        <h2 class="fs-1 fw-bold">CSS</h2>
        <p class="fw-bold">The language for styling web pages</p>
      </div>
      <div class="col-lg-6 p-2">
        <div class="exampleBox py-2 px-1 ">
          <b>CSS Example:</b>
          <div class="example">
            <div class="example-wrapper">
              <div>
                <span class="brown">body</span>
                <span class="yellow">{</span>
                <div class="purple ms-3">
                  background-color 
                  <span class="yellow">:</span> 
                  <span class="green">black</span>
                  <span class="yellow">;</span>
                </div>
                <span class="yellow">}</span>
              </div>
              <div>
                <span class="brown">h1</span>
                <span class="yellow">{</span>
                <div class="purple ms-3">
                  color 
                  <span class="yellow">:</span>
                  <span class="green">white</span>
                  <span class="yellow">;</span>
                </div>
                <div class="purple ms-3">
                  text-align 
                  <span class="yellow">:</span>
                  <span class="green">center</span>
                  <span class="yellow">;</span>
                </div>
                <span class="yellow">}</span>
              </div>
              <div>
                <span class="brown">p</span>
                <span class="yellow">{</span>
                <div class="purple ms-3">
                  font-family 
                  <span class="yellow">:</span> 
                  <span class="green">sans-serif</span>
                  <span class="yellow">;</span>
                </div>
                <span class="yellow">}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-danger-subtle">
  <div class="container">
    <div class="py-5 row d-lg-flex align-items-center justify-content-center">
      <div class="text-center col-lg-6">
        <h2 class="fs-1 fw-bold">JavaScript</h2>
        <p class="fw-bold">The programming language for the web pages</p>
      </div>
      <div class="col-lg-6 p-2">
        <div class="exampleBox py-2 px-1">
          <b>JavaScript Example:</b>
          <div class="example">
            <div class="example-wrapper">
              <div>
                <span class="green"><</span>
                <span class="brown">button</span>
                <span class="purple">onclick</span>
                <span class="green">="myFunction()"></span>
                <span class="yellow">Click Here</span>
                <span class="green"><</span>
                <span class="brown">/button</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="green"><</span>
                <span class="brown">script</span>
                <span class="green">></span>
              </div>
              <div>
                <span class="purple ms-3">function</span>
                <span class="yellow">myFunction() {</span>
              </div>
              <div>
                <span class="purple ms-5">let</span>
                <span class="yellow">x = document.getElementById(</span>
                <span class="green">"demo"</span>
                <span class="yellow">);</span>
              </div>
              <div>
                <span class="yellow ms-5">x.style.fontSize = </span>
                <span class="green">"20px"</span>;
              </div>
              <div>
                <span class="yellow ms-5">x.style.color = </span>
                <span class="green">"red"</span>;
              </div>
              <div>
                <span class="yellow ms-3">}</span>
              </div>
              <div>
                <span class="green"><</span>
                <span class="brown">/script</span>
                <span class="green">></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>
