<div class="container">
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle py-3">
      <h1>Assignments for <%= @course.title %></h1>
    </div>
    <div class="card-body">
      <% @assignments.each do |assignment| %>
        <h3 class=""><%= link_to assignment.title, course_assignment_path(@course, assignment) ,class:'text-decoration-none fs-1 fw-bold text-secondary' %></h3>
        <p><%= assignment.description %></p>
      <% end %>
    </div>
  </div>
</div> 

