<h1 class="text-center my-4">All Users</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td>
            <%= button_to "delete", registration_path(user), data: {turbo_confirm: "Are you sure?" }, method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="text-center my-3">
  <%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'btn btn-primary' %>
</div>
