<div id="<%= dom_id help_request %>">
  <p>
    <strong><%= help_request.title %></strong>
  </p>

  <p>
    <strong>Message:</strong>
    <%= help_request.message %>
  </p>

  <p>
    <strong>User:</strong>
    <%= help_request.user.username %>
  </p>
</div>