<div class="container">
  <div class="card border-0">
    <div class="card-title text-center my-3 bg-secondary-subtle py-3">
      <h1>Editing help request</h1>
    </div>
    
    <%= render "form", help_request: @help_request %>
  </div>
</div>