<div class="container mt-4">
    <div class="card border-0">
        <div class="card-title text-center my-3 bg-secondary-subtle p-3">
          <h1 class="text-center text-uppercase">  Edit Lesson of <%= @course.title %></h1>
        </div>
       <%= render "form"%>
    </div>
</div>
