.bg-space-image {
    background-image: url('background_in_space.png');
    background-position: center center;
  }
.content-wrapper{
    width: 100%;
    overflow-x: hidden;
}
.example-wrapper{
    margin: 10px 0px;
    padding: 10px;
    border-left: 5px solid rgb(212, 212, 56);
}
.exampleBox{
    margin: 0px 25px;
    background-color:#2066b7;;
    color: white;
    border-radius: 10px;

}   
.exampleBox b{
 padding: 10px 4px;
}
.example{
    background-color: #333;
    margin: 10px 5px;
}
.brown{
    color:rgb(252, 155, 171);
}
.purple{
 color: rgb(179, 133, 179);
}
.green{
    color: rgb(159, 245, 159);
}
.yellow{
    color: rgb(244, 244, 161);
}
.content-wrapper{
    width: 100%;
    overflow-x: hidden;
}
/* for the textarea in code_snippet form */
#code-input:focus {
    outline: none;
  }
.outline-none:focus {
    outline: none;
    border-bottom: 3px solid black;
    animation: line 0.3s ease-in-out;
}  

@keyframes line {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

.textarea {
    padding: 25px 10px 0px;
    height: auto; /* Ensure the height is not too tall */
    line-height: 0.9; /* Adjust line height for better spacing */
  }
  .textarea {
    resize: none;
  }
  
  /* Remove the default resize handle icon */
  .textarea::-webkit-resizer {
    display: none;
  }
  
  /* For Firefox users */
  .textarea {
    -moz-user-select: none;
  }
  
  #editor_box,
  #preview_box {
    transition: all 0.5s ease;
  }
